body {
  background-color: #2b2b2b;
  color: white;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 150px;
  border-bottom: 3px solid white;
}

header .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: 6px solid Black;
  width: 30%;
}

header .title h1 {
  font-size: 4em;
}

header .title h1, header .title p {
  margin-top: 10px;
  margin-bottom: 25px;
  margin: 10px 20px 20px 20px;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 70%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header nav h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2.5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#top-movie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 600px;
  border-bottom: 2px solid black;
}

#top-movie article {
  width: 30%;
  text-align: center;
  vertical-align: bottom;
}

#top-movie article h1 {
  vertical-align: bottom;
  margin-top: 300px;
  font-size: 2em;
}

#top-movie #top-movie__poster {
  width: 30%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
}

.top-movie__information {
  font-size: 2em;
  padding: 10px 0 0 10px;
  width: 30%;
  overflow: scroll;
}

.categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.categories .category {
  margin-top: 10px;
  height: 435px;
}

.categories .category > h2 {
  margin: 0;
  padding: 20px 0 20px 0;
  text-align: center;
  border-top: 2px solid white;
}

.categories .category__best-movies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.categories .category__best-movies__movies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  width: 100%;
  height: auto;
}

.categories .category__best-movies .side-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 360px;
}

.categories .category__best-movies .side-arrow.left {
  position: relative;
  left: 0px;
}

.categories .category__best-movies .side-arrow.right {
  float: right;
}

.categories .category__best-movies .side-arrow p {
  font-weight: 900;
  font-size: 4em;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: middle;
  top: 75px;
  height: 70px;
}

.categories .category__best-movies .side-arrow p:hover {
  font-size: 5em;
  top: 50px;
  height: 95px;
}

.categories .category__best-movies .side-arrow--disable {
  opacity: 15%;
}

.categories .category__best-movies .side-arrow.side-arrow--disable p:hover {
  font-size: 4em;
  top: 75px;
  height: 70px;
}

.movie {
  width: 18%;
  height: 360px;
  background-repeat: no-repeat;
  background-size: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 40px 0 40px;
}

.movie h2 {
  margin-left: 10px;
  opacity: 70%;
  background-color: white;
  color: black;
  display: inline-block;
}

.movie article {
  background-repeat: no-repeat;
  height: 100%;
  background-size: 100%;
}

.movie__information {
  visibility: collapse;
  height: 0px;
  font-size: 1.7em;
  text-align: center;
  border-radius: 0 0 8px 8px;
}

.movie:hover {
  z-index: 1;
  height: 600px;
  width: 400px;
}

.movie:hover .movie__information {
  visibility: visible;
  height: 30%;
  background-color: grey;
  padding: 10px 0 0 10px;
  border-bottom: 4px solid white;
  border-left: 4px solid white;
  border-right: 4px solid white;
}

.movie:hover article {
  border-radius: 8px 8px 0 0;
  border-top: 4px solid white;
  border-left: 4px solid white;
  border-right: 4px solid white;
}

.movie:hover h2 {
  visibility: hidden;
}

.movie--hidden {
  visibility: collapse;
  width: 0;
  padding: 0;
  margin: 0;
}

.modal {
  width: 100%;
  height: 100%;
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  visibility: hidden;
}

.modal div {
  background-color: white;
  border: 3px solid black;
  border-radius: 15px;
  position: relative;
  width: 40%;
  height: 80%;
  z-index: 2;
  top: 10%;
  left: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: sans-serif;
}

.modal div p {
  width: 90%;
  font-size: 2em;
  color: black;
  overflow: scroll;
}

.modal div .close {
  width: 40px;
  font-size: 2em;
  color: black;
  border-radius: 0 15px 0 0;
  height: 40px;
  top: 0px;
  left: 15px;
  text-align: right;
  background-color: rgba(71, 61, 61, 0.95);
  z-index: 3;
}

.modal div .close:hover {
  border: 3px solid red;
  cursor: pointer;
}

.modal div .close:active {
  background-color: red;
}
/*# sourceMappingURL=style.css.map */